@import "_variables.scss";

.cursor-pointer {
  cursor: pointer;
}

.desktop {
  @media screen and (min-width: 960px) {
    display: block;
  }
  @media screen and (max-width: 959px) {
    display: none !important;
  }
}
.mobile {
  @media screen and (min-width: 960px) {
    display: none;
  }
  @media screen and (max-width: 959px) {
    display: block;
  }
}

a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

.router-link-exact-active {
  border-bottom: 3px solid $red-6;
}

.container {
  max-width: 960px !important;
  margin: 0 auto;
}

.bg-blue-1 {
  background-color: $blue-1;
}
.bg-blue-2 {
  background-color: $blue-2;
}
.bg-blue-3 {
  background-color: $blue-3;
}
.bg-blue-4 {
  background-color: $blue-4;
}
.bg-blue-5 {
  background-color: $blue-5;
}
.bg-blue-6 {
  background-color: $blue-6;
}
.bg-blue-7 {
  background-color: $blue-7;
}
.bg-blue-8 {
  background-color: $blue-8;
}
.bg-blue-9 {
  background-color: $blue-9;
}

.bg-red-1 {
  background-color: $red-1;
}
.bg-red-2 {
  background-color: $red-2;
}
.bg-red-3 {
  background-color: $red-3;
}
.bg-red-4 {
  background-color: $red-4;
}
.bg-red-5 {
  background-color: $red-5;
}
.bg-red-6 {
  background-color: $red-6;
}
.bg-red-7 {
  background-color: $red-7;
}
.bg-red-8 {
  background-color: $red-8;
}

.text-white {
  color: white;
}
.text-blue-1 {
  color: $blue-1;
}
.text-blue-2 {
  color: $blue-2;
}
.text-blue-3 {
  color: $blue-3;
}
.text-blue-4 {
  color: $blue-4;
}
.text-blue-5 {
  color: $blue-5;
}
.text-blue-6 {
  color: $blue-6;
}
.text-blue-7 {
  color: $blue-7;
}
.text-blue-8 {
  color: $blue-8;
}

.text-red-1 {
  color: $red-1;
}
.text-red-2 {
  color: $red-2;
}
.text-red-3 {
  color: $red-3;
}
.text-red-4 {
  color: $red-4;
}
.text-red-5 {
  color: $red-5;
}
.text-red-6 {
  color: $red-6;
}
.text-red-7 {
  color: $red-7;
}
.text-red-8 {
  color: $red-8;
}